{% extends "rabbit.html" %}
{% block content %}
<div class="container">
    <div class="row">
        {% for item in table_json %}
            <div class="col-sm-6">
                <h2 class="pt-3">{{ item["month"] }}</h2>
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Mon</th>
                        <th>Tue</th>
                        <th>Wed</th>
                        <th>Thu</th>
                        <th>Fri</th>
                        <th>Sat</th>
                        <th>Sun</th>
                      </tr>
                    </thead>
                    <tbody class="text-center">
                      {% for row in item["table"] %}
              	        <tr>
              	        {% for day in row %}
		          {% if day %}
                            <td style="{{ day["style"]["cell"] }}">
				    <a href="{{ day["link"] }}" style="{{ day["style"]["text"] }}">{{ day["count"] }}</a>
                            </td>
                          {% else %}
                            <td class="bg-light">-</td>
		          {% endif %}
              	        {% endfor %}
              	        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
