{% extends "rabbit.html" %}
{% block title %}Categories{% endblock %}
{% block content %}
<div class="container">
	<h2 class="pt-3">{{ title }}</h2>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Mon</th>
          <th>Tue</th>
          <th>Wed</th>
          <th>Thu</th>
          <th>Fri</th>
          <th>Sat</th>
          <th>Sun</th>
	</tr>
      </thead>
       <tbody class="text-center">
        {% for row in table_json %}
          <tr>
          {% for day in row %}
            {% if day %}
              <td style="{{ day["style"]["cell"] }}">
                      <a href="{{ day["link"] }}" style="{{ day["style"]["text"] }}">{{ day["count"] }}</a>
              </td>
            {% else %}
              <td class="bg-light">-</td>
            {% endif %}
          {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% if articles %}
  <div class="table-responsive">
      <table class="table table-sm">
          <thead>
              <tr>
                  <th>Title</th>
                  <th>Category</th>
                  <th>Date Published</th>
                  <th>Date Added</th>
              </tr>
	  </thead>
	  <tbody>
              {% for article in articles %}
                  <tr>
			  <td><a class="text-body" href="{{ article["url"] }}">{{article["title"]}}</a></td>
                      <td>{{article["category"]}}</td>
                      <td>
                          <span>{{article["date_published"]["ddmmyy"]}}</span>
                          <span>{{article["date_published"]["hhmmss"]}}</span>
                      </td>
                      <td>
                          <span>{{article["date_added"]["ddmmyy"]}}</span>
                          <span>{{article["date_added"]["hhmmss"]}}</span>
                      </td>
                  </tr>
              {% endfor %}
	  </tbody>
        </table>
    </div>
  {% endif %}
</div>
{% endblock %}
