{% extends "bootstrap.html" %}
{% block title %}Categories{% endblock %}
{% block body %}
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Mon</th>
          <th>Tue</th>
          <th>Wed</th>
          <th>Thu</th>
          <th>Fri</th>
          <th>Sat</th>
          <th>Sun</th>
	</tr>
      </thead>
      <tbody class="text-center">
          {% for row in table_json %}
	      <tr>
	      {% for day in row %}
	          {% if day %}<td>{% else %}<td class="bg-light">{% endif %}
	              {{ day["count"] if day else "-" }}
                  </td>
	      {% endfor %}
	      </tr>
	  {% endfor %}
      </tbody>
    </table>
  </div>
  {% if articles %}
      {% for article in articles %}
          {{ article }}
      {% endfor %}
  {% endif %}
{% endblock %}
