{% extends "rabbit.html" %}
{% block title %}Down The Rabbit Hole - Poem Generator{% endblock %}
{% block content %}
  <div class="container pt-3 text-monospace">
    <div class="row"><div class="col-9"><span>I'm sorry Wei I didn't stop caring, and of course I miss you, but you are happier with Aleks. Know that I'll always care about you.</span></div></div>
    <div class="row">
      <div class="col-md-4">
        <div class="py-5">
          <h4>Poem Of The Day</h4>
          <h5>By The Rabbit</h5>
        </div>
	<div>
          {% for sentence in poem_of_the_day.paragraphs %}
	      {% if sentence %}<p>{{ sentence }}</p>{% endif %}
	  {% endfor %}
	</div>
      </div>
      <div class="col-md-4">
        <div class="py-5">
          <h4>Poem Of The Month</h4>
          <h5>By The Rabbit</h5>
        </div>
	<div>
          {% for sentence in poem_of_the_month.paragraphs %}
	      {% if sentence %}<p>{{ sentence }}</p>{% endif %}
	  {% endfor %}
	</div>
      </div>
      <div class="col-md-4">
        <div class="py-5">
          <h4>Poem Of The Year</h4>
          <h5>By The Rabbit</h5>
        </div>
	<div>
          {% for sentence in poem_of_the_year.paragraphs %}
	      {% if sentence %}<p>{{ sentence }}</p>{% endif %}
	  {% endfor %}
	</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="py-5">
	    <a class="text-dark" href="{{ url_for('poem', uuid=poem_of_the_day.uuid) }}">Permalink</a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="py-5">
	    <a class="text-dark" href="{{ url_for('poem', uuid=poem_of_the_month.uuid) }}">Permalink</a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="py-5">
	    <a class="text-dark" href="{{ url_for('poem', uuid=poem_of_the_year.uuid) }}">Permalink</a>
        </div>
      </div>
    </div>
    <p class="text-right" style="margin-top:100px">Constantly generating. Launched at 27/01/2020</p>
  </div>
{% endblock %}
