{% extends "bootstrap.html" %}
{% block title %}Down The Rabbit Hole - Poem Generator{% endblock %}
{% block head %}
  {{ super() }}
  <style>
    @media (min-width: 1560px) {
      .container {
        max-width: 1500px;
      }
    }
  </style>
{% endblock %}
{% block navbar %}
    <nav class="bg-light navbar navbar-expand-md navbar-light py-4 px-md-5 shadow-sm sticky-top text-monospace">
      <a class="navbar-brand" href="{{ url_for("index") }}">Down The Rabbit-Hole</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapse">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="collapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item pl-md-3 {{ "active" if request.endpoint == "index" }}">
            <a class="nav-link" href="{{ url_for("index") }}">The Rabbit</a>
          </li>
          <li class="nav-item pl-md-3 {{ "active" if request.endpoint == "calendar_year" }}">
            <a class="nav-link" href="{{ url_for("calendar_year") }}">News Database</a>
          </li>
          <li class="nav-item pl-md-3 {{ "active" if request.endpoint == "about" }}">
            <a class="nav-link" href="{{ url_for("about") }}">About This Site</a>
          </li>
        </ul>
      </div>
    </nav>
{% endblock %}
